body {
   
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: black;
}
.header {
    background-color: #F9F6F1;
    font-size: 14px;
    padding-top: 56px;
}
.header a{
    color: black;
}
ul,li {
    display: block;
    padding: 0;
    margin: 0;
}
.main {
    background-color: #F9F6F1;
    padding-top: 133px;
    padding-bottom: 207px;
}
.main h1{
    font-size: 55px;
}
.button {
background-color: #D7B399;
border: none;
}
.main_img {
    width: 50%;
}
.main_card {
    border: none;
}
.main_img b {
    font-size: 24px;
    text-align: right;
}
.main_img p {
    color: #D84033;
    font-size: 42px;
    text-align: right;
}
.delivery{
    background-color:black ;
    color: white;
}
.delivery h1 {
    font-size: 30px;
    padding-top: 80px;
    margin-bottom: 23px;
}
#delivery br{
    display: none;
}
.delivery p {
    font-size: 21px;
    padding-bottom: 69px;
    margin-bottom: 0;
}

.catalog_men{ 
    background-color:#F9F6F1;
    padding-top: 60px;
}
.catalog_woman{
    background-color: #F4F4F4;
    padding-top: 60px;
}
.card_woman{
    padding: 0;
}

.dress{
    margin-bottom: 150px;
}

.line_top_left{ 
    width: 25px;
    height: 25px;
    border-top: 3px solid #D7B399;
    border-left: 3px solid #D7B399;
}
.line_top_right{
    width: 25px;
    height: 25px;
    border-top: 3px solid #D7B399;
    border-right: 3px solid #D7B399;
}
.line_bottom_left{   
    width: 25px;
    height: 25px;
    border-bottom: 3px solid #D7B399;
    border-left: 3px solid #D7B399;
}
.line_bottom_right {
    width: 25px;
    height: 25px;
    border-bottom: 3px solid #D7B399;
    border-right: 3px solid #D7B399;
}

.new_models_title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 103px;
}
.new_models p{
    font-size: 18px;
    color: #D7B399;
    text-align: center;
 }
.girl {
    border: none;
}
.button_catalog{
    margin-top: 100px;
    margin-bottom:150px;

}
.form {
    background-color: black;
    color: white;
    padding: 72px;
}
.form h1 {
    font-size: 30px;
}
.sales {
    padding-top: 150px;
}
.nav{
    background-color:#212121;
    color: white;
    padding-top: 79px;
    padding-bottom: 80px;
}
.logo_black {
    margin-bottom: 39px;
}
.nav h4 {
    font-size: 12px;
    margin-bottom: 20px;
}
.nav li,p {
    font-size: 14px;
}
.nav li{
    line-height: 22px; 
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer{
    padding-top: 30px;
    padding-bottom: 23px;
}
@media screen and (max-width: 991px){   
    .nav_menu {
       flex-direction: column;
       width: 75%;
       margin: 0 auto;
    }
    .main {
        flex-direction: column;    
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main_img{
        padding-top: 15px;
        width: 90%;
    }
    .catalog  {
        flex-direction: column;    
        margin: 0 auto;
        padding-top: 5px;
    }
    .form {
        flex-direction: column;    
        margin: 0 auto;
        padding: 5px;
    }
    .form h1 {
        font-size: 24px;
    }
    .dress {
        margin-bottom: 20px;
    }
    .new_models{
        margin-bottom: 20px;
    }
    .sales{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 575px){
    #delivery br {
        display: initial;
    }
}